<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:label="Gear2 Steps HA"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".StepService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".PowerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="ro.alexp.gear2steps.TEST_POWER_CONNECTED" />
                <action android:name="ro.alexp.gear2steps.TEST_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".CommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ro.alexp.gear2steps.SET_URL" />
                <action android:name="ro.alexp.gear2steps.SEND_NOW" />
                <action android:name="ro.alexp.gear2steps.TEST_SERVER" />
                <action android:name="ro.alexp.gear2steps.RESET_TODAY" />
                <action android:name="ro.alexp.gear2steps.SEED_TODAY" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
